.Rproj.user
.Rhistory
.RData
.Ruserdata
baltimore_playgrounds_osm.dbf
baltimore_playgrounds_osm.prj
baltimore_playgrounds_osm.shp
baltimore_playgrounds_osm.shx
Census_Tract_2020_to_Community_Statistical_Area_2020.csv
Community_Statistical_Areas_(2020).xml
Community_Statistical_Areas__2020_.cpg
Community_Statistical_Areas__2020_.dbf
Community_Statistical_Areas__2020_.prj
Community_Statistical_Areas__2020_.shp
Community_Statistical_Areas__2020_.shx
playground_density_grdev.png
playground_density_tmsave.png